.search-box {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;

    .form-label {
        display: block;
        margin-bottom: 3px;
    }

    .form-input {
        width: 100%;
        height: 40px;
        border-radius: 3px;
        border: 1px solid #333333;
        padding: 0 15px;
    }
}